body{
    background-color: aquamarine;
}
header {
    border: 1px soild black;
    min-height: 15vh;
    
}
.flex {
    display:flex;
    height: 70vh;
}
main{
    width: 70%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
aside{
    width: 30%;
    background: orange;
} 